html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    color: #2F3035;
    @extend %SFRroDisplay-400;
    font-size: 20px;
    line-height: 24px;
    overflow-x: hidden;
    min-width: 320px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-section {
    margin-bottom: 80px;
}

.banner-section__slider-btn,
.product__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
}

.tabs__content {
    display: none;
}

.tabs__content.tabs__content--active {
    display: block;
}

.filter-style {
    box-shadow: none;
    background-color: transparent;
}

.jq-checkbox,
.jq-radio {
    width: 14px;
    height: 14px;
    margin: 0 8px 0 0;
    background: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -2px;
}

.jq-checkbox.checked,
.jq-radio.checked {
    background: #1C62CD;
    // border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 8px;
    // margin: 4px 0 0 3px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    border-left: none;
    transform: rotate(0deg);
    background-image: url('../images/checked-icon.svg');
    background-repeat: no-repeat;
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}