%SFRroDisplay-400 {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
}

%SFRroDisplay-500 {
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
}

%SFRroDisplay-600 {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
}

%SFRroDisplay-700 {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

%Barlow-400 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

%Barlow-700 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}