%PlayfairDisplay-900 {
    font-family: 'PlayfairDisplay-Black';
    font-weight: 900;
}

%Raleway-700 {
    font-family: 'Raleway-Bold';
    font-weight: 700;
}

%Raleway-400 {
    font-family: 'Raleway-Regular';
    font-weight: 400;
}

%Raleway-300 {
    font-family: 'Raleway-Light';
    font-weight: 300;
}